#ganhador {
  width: 80px;
  height: 80px;
  background-size: 80px;
  margin: auto;
}

.final {
  width: 400px;
  height: 1000px;
  background-color: transparent;
  background-size: 100px 100px;
  background-position: center;
  margin: auto;
  text-align: center;

}
.titulo {
  width: 164px;
  height: 80px;
  background-color: transparent;
  background-size: 80px 80px;
  background-position: center;
  margin: 20px auto;
}

.figura {
  width: 80px;
  height: 80px;
  float: left;
  background-color: transparent;
  background-size: 80px 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.destaqueImg {
  width: 80px;
  height: 80px;
  float: left;
  border: 2px solid #000;
  background-color: transparent;
  background-size: 80px 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.principal {
  width: 300px;
  height: 300px;
  background-image: url("Tabuleiro.png");
  background-size: 300px 300px;
  background-position: center;
  margin: 50px auto;
}

.tamanhoid {
  width: 100px;
  height: 100px;
  float: left;
  background-color: transparent;
  background-size: 80px 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.bola {
  background-image: url("bola.png");
}

.xis {
  background-image: url("x.png");
}
