#ganhador {
  width: 80px;
  height: 80px;
  background-size: 80px;
  margin: auto;
}

.final {
  width: 400px;
  height: 1000px;
  background-color: transparent;
  background-size: 100px 100px;
  background-position: center;
  margin: auto;
  text-align: center;

}
.titulo {
  width: 164px;
  height: 80px;
  background-color: transparent;
  background-size: 80px 80px;
  background-position: center;
  margin: 20px auto;
}

.figura {
  width: 80px;
  height: 80px;
  float: left;
  background-color: transparent;
  background-size: 80px 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.destaqueImg {
  width: 80px;
  height: 80px;
  float: left;
  border: 2px solid #000;
  background-color: transparent;
  background-size: 80px 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.principal {
  width: 300px;
  height: 300px;
  background-image: url("Tabuleiro.png");
  background-size: 300px 300px;
  background-position: center;
  margin: 50px auto;
}

.camada1 {
    width: 300px;
    height: 300px;
    position: absolute;
}

.camada2 {
    width: 300px;
    height: 300px;
    position: absolute;
}

.camada3 {
    width: 300px;
    height: 300px;
    position: absolute;
}

.camada4 {
    width: 300px;
    height: 300px;
    position: absolute;
}

.camada5 {
    width: 300px;
    height: 300px;
    position: absolute;
}

.colunasHorizontais {
    width: 300px;
    height: 100px;
    background-size: 300px 10px;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.colunasVerticais {
    width: 100px;
    height: 300px;
    background-size: 10px 300px;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.colunasDiagonais {
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.tabuleirob {
  width: 100px;
  height: 100px;
  float: left;
  background-color: transparent;
  background-size: 80px 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.tamanhoid {
  width: 100px;
  height: 100px;
  float: left;
  background-color: transparent;
  background-size: 80px 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.bola {
  background-image: url("bola.png");
}

.xis {
  background-image: url("x.png");
}

.reta_h {
    background-image: url("reta_h.png");
}

.reta_v {
    background-image: url("reta_v.png");
}

.reta_d1 {
    background-image: url("reta_d1.png");
}

.reta_d2 {
    background-image: url("reta_d2.png");
}
